<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One|Pinyon+Script" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>

     {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/newpost.css' %}" type="text/css">
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>

</head>
<body>
    <div id="billboard_header">BILLBOARD</div>
    <div id="posts_holder">
        {% if messages %}
            {% for msg in messages %}
                <div class="msg_div">
                    <span class="date"> {{msg.date|date:"d/m/Y"}}</span>
                    <div class="msg_header">{{ msg.title }}</div>
                    <div class="msg_text">{{ msg.msg }}</div>
                    <div class="msg_writer">{{ msg.author }}</div>
                    <button class="del msg_btn" id="{{ msg.id }}">delete</button>
                </div>
            {% endfor %}
        {% else %}
            <div class="no_msg_div" style="font-size:24px">press + to add new message</div>
        {% endif %}
    </div>

    <div class="add_msg">
       <button class="add_msg_btn"><i class="fas fa-plus ben"></i></button>
    </div>

    <div id="form_section">
         <div class="form">
            <span class="current_date">{{ current_date|date:"d/m/Y" }}</span>
             <input type="text" class="form_header" placeholder="Title"/>
             <textarea class="form_text" placeholder="Your massage"></textarea>
             <input type="text" class="form_author" placeholder="Author"/>
        </div>
        <div class="new_msg_div">
            <button class="cancel_msg_btn"><i class="far fa-window-close ben"></i></button>
            <button class="send_msg_btn" ><i class="fas fa-check ben"></i></button>
        </div>
    </div>
</body>
</html>